In [1]:
import seaborn as sns

In [4]:
df = sns.load_dataset('healthexp')

In [5]:
df.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

In [11]:
#covariance

In [6]:
import numpy as np

In [7]:
np.cov(df.Spending_USD, df.Life_Expectancy)

array([[4.81776066e+06, 4.16680091e+03],
       [4.16680091e+03, 1.07339023e+01]])

In [9]:
df.cov(numeric_only=True)

                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

In [13]:
# correlation
df.corr(method='pearson',numeric_only=True)

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000

In [17]:
df.tail()

     Year        Country  Spending_USD  Life_Expectancy
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

In [18]:
df.corr(method='spearman',numeric_only=True)

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.931598         0.896117
Spending_USD     0.931598      1.000000         0.747407
Life_Expectancy  0.896117      0.747407         1.000000

In [23]:
flights = sns.load_dataset('flights')

In [24]:
flights.corr(numeric_only=True,method='pearson')

                year  passengers
year        1.000000    0.921824
passengers  0.921824    1.000000