In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [25]:
s= df['Name'][0:10]

In [26]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [10]:
type(s)

pandas.core.series.Series

In [14]:
# named indexes
custom_index=['A','B','C','D','E','F','G','H','I','J']
# s.index=custom_index

In [29]:
s1= pd.Series(list(s),index=custom_index) # or

In [30]:
s1

A                              Braund, Mr. Owen Harris
B    Cumings, Mrs. John Bradley (Florence Briggs Th...
C                               Heikkinen, Miss. Laina
D         Futrelle, Mrs. Jacques Heath (Lily May Peel)
E                             Allen, Mr. William Henry
F                                     Moran, Mr. James
G                              McCarthy, Mr. Timothy J
H                       Palsson, Master. Gosta Leonard
I    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
J                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [31]:
#  or can be set like
s.index=custom_index

In [32]:
s

A                              Braund, Mr. Owen Harris
B    Cumings, Mrs. John Bradley (Florence Briggs Th...
C                               Heikkinen, Miss. Laina
D         Futrelle, Mrs. Jacques Heath (Lily May Peel)
E                             Allen, Mr. William Henry
F                                     Moran, Mr. James
G                              McCarthy, Mr. Timothy J
H                       Palsson, Master. Gosta Leonard
I    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
J                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [41]:
s[0] # but also remebers internal indexes ( default indexes)

C:\Users\Sahil\AppData\Local\Temp\ipykernel_5644\720289897.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[0] # but also remebers internal indexes ( default indexes)

'Braund, Mr. Owen Harris'

In [36]:
s['A']

'Braund, Mr. Owen Harris'

In [43]:
s2 = pd.Series([3,4,5,6,6],index=[2,4,5,6,1])

In [45]:
s3= pd.Series([35,399,326],index=(4,9,8))

In [47]:
s4= pd.concat([s2,s3])

In [48]:
s4

2      3
4      4
5      5
6      6
1      6
4     35
9    399
8    326
dtype: int64

In [ ]:
s4[4] # getting both data means it gets by named index and not at position but at named inex

4     4
4    35
dtype: int64

In [50]:
s5 = pd.Series([3,4,5,6,6])
s6= pd.Series([35,399,326])
# to merge side wise
merged = pd.concat([s5, s6], axis=1)

In [51]:
merged

   0      1
0  3   35.0
1  4  399.0
2  5  326.0
3  6    NaN
4  6    NaN

In [69]:
# merge Data Frames
df2= pd.DataFrame({"name":["sahil","mohit"],"age":[22,20]})
df3= pd.DataFrame({"name":["sahil","rahul"],"mobile":[112,232]})
mm1= pd.merge(df2,df3)

In [70]:
mm1

    name  age  mobile
0  sahil   22     112

In [71]:
mm2 = pd.merge(df2, df3, on="name", how="outer") # Use an Outer Join If you want to keep all names and merge data:
print(mm2)

    name   age  mobile
0  mohit  20.0     NaN
1  rahul   NaN   232.0
2  sahil  22.0   112.0

Specify left and right keys

If you meant to merge on a different logic, you can use cross join, or manually specify keys.
1. Cross Join (Cartesian Product)

If you want all combinations of df2 and df3:

mm1 = df2.merge(df3, how="cross")
print(mm1)

In [73]:
# merge Data Frames
df2= pd.DataFrame({"name":["sahil","mohit"],"age":[22,20]})
df4= pd.DataFrame({"nm":["sahil","rahul"],"mobile":[112,232]})
mm4 = df2.merge(df4, how="cross")
print(mm4)

    name  age     nm  mobile
0  sahil   22  sahil     112
1  sahil   22  rahul     232
2  mohit   20  sahil     112
3  mohit   20  rahul     232

In [75]:
s4

2      3
4      4
5      5
6      6
1      6
4     35
9    399
8    326
dtype: int64

In [76]:
s5

0    3
1    4
2    5
3    6
4    6
dtype: int64

In [ ]:
s4*s5 # example index 3 is present only in s5 so can't multiply so  Nan -- multiplication is based on named indexes

0      NaN
1     24.0
2     15.0
3      NaN
4     24.0
4    210.0
5      NaN
6      NaN
8      NaN
9      NaN
dtype: float64